<div id='about'>
	<div class='wrapper'>
		<div class='headshot'>
			<img src='/img/headshot.png' />
			<p>Ask me about my cat, my veggie burger recipes and my love for all things French.</p>
		</div>
		<ul class='contact'>
			<li><p><a href='/blog'>Blog</a></p></li>
			<li><p><a href='http://github.com/kimberlyhawthorne' target='_blank'>Github</a></p></li>
			<li><p><a href='/KimHawthorne_resume.pdf' target='_blank'>Resume</a></p></li>
			<li><p><a href='mailto:kim@kimcod.es'>Email</a></p></li>
		</ul>
	</div>				
</div>

<footer>
	<p>&copy;2015 Kim Hawthorne</p>
</footer>