<div class="inner-wrapper error">
	<h2>404.</h2>
	<p>Sorry, this page does not exist.</p>
	<img src="/img/sadparrot.gif" alt="Party on" />
	<p class="disclaimer">
		*But <a href="http://cultofthepartyparrot.com" target="_blank">party on</a> anyway.
	</p>
</div>